@import url(./animation.css);

:root {
    font-size: 16px;
}

body {
    background-color: rgb(255, 237, 215);
    margin:0;
    transition: background-color 300ms;
    overflow:hidden;
}

strong {
    font-family: 'ArvoBold', Arial, sans-serif;
    font-weight:bold;
    font-size:inherit;
}

hr {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: black;
    height:4px;
}

/* Information */
#info {
    top: 0.6rem;
    position:absolute;
    display:grid;
    grid-template-columns: 50% 50%;
    margin-left:5vw;
    margin-right:5vw;
    width: 90vw;
}

#timer-wrapper, #score-wrapper {
    display:flex;
    width:100%;
    font-family: 'Arvo', Arial, sans-serif;
    font-size:1rem;
}

#time-circle {
    width:4rem;
    height:4rem;
    border-radius: 50%;
    background: conic-gradient(rgb(0,0,0) 100%, rgb(255, 255, 255) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#time-circle-inner {
    font-family:'Arvo', Arial, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    color:black;
    background-color:rgb(255, 237, 215);
    width:3.5rem;
    height:3.5rem;
    border-radius: 50%;
    z-index:99
}

#score-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.1rem;
}
#score-wrapper p {
    margin:0;
    width:auto;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

#title {
    font-family: 'ArvoBold', 'Arial', serif;
    font-size: 3rem;
    text-align: center;
}

#definition-box {
    border: 3px dashed black;
    width: 50vw;
    padding:1vw;
    margin-left:24vw;
    margin-right:24vw;
}

.meaning {font-family: 'Arvo', 'Times New Roman' sans-serif;}

/* Definition */
#pronounce {
    font-family: 'ArvoBold', Arial, sans-serif;
    font-size: 1.75rem;
    font-weight:bold;
}

#pronounce {text-decoration: underline;}

/* Answer */
.answer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:auto;
    gap:1rem;
}

#answer {margin-top:2rem;}

.letter {
    border:0.08rem solid black;
    border-radius: 15%;
    background-color: white;
    font-family: 'Arvo', Arial, sans-serif;
    text-align: center;
    width:2vw;
    padding:1rem;
    font-size:1.2rem;
}

#submit {
    background-color:rgb(28, 238, 28);
    color: black;
    border: 0.1rem solid black;
    border-radius: 15%;
    font-family: 'Arvo', Arial, sans-serif;
    font-size:1.1rem;
    padding:1%;
    transition: all 500ms;
}

#submit:focus {
    background-color: rgb(38, 109, 38);
    color: white;
}


/* Fonts */
@font-face {
    font-family: 'ArvoBold';
    src: url(../fonts/Arvo-Bold.woff2) format('woff2'), 
        url(../fonts/Arvo-Bold.ttf) format('ttf');
}
@font-face {
    font-family: 'Arvo';
    src: url(../fonts/Arvo-Regular.woff2) format('woff2'),
        url(../fonts/Arvo-Regular.ttf) format('ttf');
}
@font-face {
    font-family: 'ArvoBoldItalic';
    src: url(../fonts/Arvo-BoldItalic.woff2) format('woff2')
        url(../fonts/Arvo-BoldItalic.ttf) format('ttf');
}